<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update User</title>
</head>
<body>

<form th:action="@{/admin/edit(id=${user.getId()})}" th:object="${user}" method="post">
  <label for="name">Enter name:</label>
  <input type="text" th:field="*{name}" id="name">
  <br/>


  <label for="password">Enter password:</label>
  <input type="text" th:field="*{password}" id="password">
  <br/>


  <label for="lastName">Enter last name:</label>
  <input type="text" th:field="*{lastName}" id="lastName">
  <br/>
  <label for="age">Enter age:</label>
  <input type="text" th:field="*{age}" id="age">
  <br/>

  <label for="email">Enter email:</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <div th:each="role : ${roles}">
    <input type="checkbox" th:field="*{roles}" th:value="${role.getId()}" /><label th:text="${role.getName()}">example</label>
  </div>

  <input type="submit" value="Update!"/>
  <br/>
  <br/>

</form>
<form th:method="GET" th:action="@{/logout}" >
  <input type="submit" value="Logout">
</form>

</body>
</html>